<div class="body container">
    <h2 class="text-center">Sign Up</h2>
    <form #form="ngForm" >
        <input ngModel name="name" #name="ngModel" type="text"  class="form-control" placeholder="Your Name" required>
        <div class="alert alert-danger" *ngIf="name.invalid && name.touched"> name is required</div>

        <input ngModel name="email" #email="ngModel" type="text" class="form-control" placeholder="Email" required email> 
        <div class="alert alert-danger" *ngIf=" email.touched && email.errors?.required"> email is required</div>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email"> pleas enter an email right</div>

        <input ngModel name="password" #password="ngModel" type="password" class="form-control"  autocomplete="on" placeholder="Password" required minlength="6">
        <div class="alert alert-danger" *ngIf=" password.touched && password.errors?.required"> password is required</div>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength"> password should be 6+ charachter</div>

        <input ngModel name="passwordConfirm" #passwordConfirm="ngModel" type="password"  autocomplete="on" class="form-control" placeholder="Confirm Password" required >
        <div class="alert alert-danger" *ngIf="passwordConfirm.invalid && passwordConfirm.touched"> password is required</div>
        <div class="alert alert-danger" *ngIf="password.value !== passwordConfirm.value && passwordConfirm.touched"> passwored are not equal</div>

        <input ngModel name="addres" type="text" #addres="ngModel" class="form-control" placeholder="Addres" required>
        <div class="alert alert-danger" *ngIf="addres.invalid && addres.touched"> addres is required</div>

        <button class="btn btn-primary" [disabled]="form.invalid || password.value !== passwordConfirm.value" >Create Account</button>
    </form>
    <br>
    <div  class="alert alert-danger" *ngIf='errorMessage'>
        {{errorMessage}}
    </div>
</div>